.bm-burger-button{
    position: fixed;
    width: 36px;
    height: 30px;
    top:30px;
}
.bm-burger-bars{
    background: red;
}
.bm-burger-bars-hover{
    background: #fff;
}
.bm-cross-button{
    height: 24px;
    width: 24px;
}
.bm-cross{
    background: #fff;
}
.bm-menu-wrap{
    position: fixed;
    height: 100%;
}
.bm-menu{
    background: #0e0d0d;
    padding: 2.5em 1.5em;
    font-size: 1.15em;
}
.bm-morph-shape{
    fill: #373a47;
}
.bm-item-list{
    color: #fff;
    padding: 0.8em;
}
.bm-item{
    display: inline-block;
}
.bom-overlay{
    background: rgba(0,0,0,0.3);
}
.menu-item{
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.menu-item:hover{
    color: red;
}
